<div class="main-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isProgressBarDisplayed"></mat-progress-bar>
    <div *ngIf="isUserPostsDataDisplayed">
        <div *ngIf="isContentDisplayed" class="card-container">
            <div *ngFor="let card of userPostsCards">
                <mat-card class="card">
                    <mat-card-header>
                    <mat-card-title class="title">{{card.content}}</mat-card-title>
                    <!-- <mat-card-subtitle>{{card.source}}</mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-content>
                    <p class="foot">{{card.source}}</p>
                    <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions>
                    <button mat-button *ngIf="!didUserSuggestThis(card)" (click)="onSuggestItClick(card)">suggest it</button>
                    <button mat-button *ngIf="didUserSuggestThis(card)" (click)="onUnsuggestItClick(card)">unsuggest it</button>
                    <button mat-button disabled="true" *ngIf="card.suggests" >{{card.suggests}}</button>
                    </mat-card-actions>
                    <mat-card-footer>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>    
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="isContentDisplayed" class="card-container">
        <div *ngFor="let card of cards">
            <mat-card class="card">
                <mat-card-header>
                <mat-card-title class="title">{{card.content}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p class="foot">{{card.source}}</p>
                <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button (click)="onSuggestItClick(card)">suggest it!</button>
                </mat-card-actions>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>