<div class="main-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isProgressBarDisplayed"></mat-progress-bar>
    <div *ngIf="isContentDisplayed" class="card-container">
        <div *ngFor="let card of cards">
            <mat-card class="card">
                <mat-card-header>
                <mat-card-title>{{card.content}}</mat-card-title>
                <mat-card-subtitle>{{card.source}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                <p>This card has divider and indeterminate progress as footer</p>
                <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>