<mat-toolbar color="primary">
    <ng-container *ngIf="authService.currentUser$ | async as user">  
      <button mat-icon-button [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
      </button>
    </ng-container>
    <span>Suggest It!</span>
    <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </ng-container>
    <ng-template #loginButton>
      <button mat-button routerLink="login">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </ng-template>
</mat-toolbar>
<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
