<div class="main-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isProgressBarDisplayed"></mat-progress-bar>
    <form [formGroup]="universityForm" (submit)="submit()">
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select formControlName="university">
            <mat-option value="University of Florida">University of Florida</mat-option>
            <mat-option value="Florida International University">Florida International University</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" disabled="{{!universityForm.valid || isProgressBarDisplayed}}">Submit</button>
    </form>
    <div *ngIf="isContentDisplayed" class="card-container">
        <div *ngFor="let card of cards">
            <mat-card class="card" (click)="onCardClick(card)">
                <mat-card-header>
                    <mat-card-title>{{card.content}}</mat-card-title>
                    <mat-card-subtitle>{{card.source}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-footer></mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>